<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <main class="main">
        <aside class="aside">
            <div>
                <div class="logo-container">
                    <img src="/assets/images/logo.png" alt="organizable-logo" class="logo">
                </div>
                <ul>
                    <li data-value="notes" class="option">
                        <img src="/assets/icons/boards.svg" alt="boards-icon" class="icon">
                        <span href="#notes">My Boards</span>
                    </li>
                    <li data-value="trash" class="option">
                        <img src="/assets/icons/box.svg" alt="box-icon" class="icon">
                        <span href="#trash">Closed Boards</span></li>
                    <li data-value="trash" class="option">
                        <img src="/assets/icons/user.svg" alt="user-icon" class="icon">
                        <span href="#trash">My Profile</span>
                    </li>
                </ul>
            </div>
            <div class="option option-exit">
                <img src="/assets/icons/exit.svg" alt="user-icon" class="icon">
                <span class="primary-500">Logout</span>
            </div>
            </aside>
        <div class="content section-full bg-gray-100">
        </div>
      </main>
</body>
</html>